@page "/upload"
@using Wallman.DataAccess.Wallpapers
@using BlazorCaptcha
@rendermode InteractiveServer

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="_content/BlazorCaptcha/captcha.css" rel="stylesheet" />

<section class="upload">
    <h1>Add wallpaper</h1>
    <p>Download wallpaper and help us to add to our collection.</p>

    <form enctype="multipart/form-data">
        <label for="title">Nickname</label>
        <input type="text" id="title" @bind="nickname" placeholder="Enter your username without a dog" required>
        
        <label for="title">Wallpaper name</label>
        <input type="text" id="title" @bind="name" placeholder="Enter a name" required>

        <label for="category">Platform</label>
        <select id="category" @bind="selectedPlatform">
            @foreach (var platform in Enum.GetValues(typeof(Platforms)).Cast<Platforms>()) {
                <option value="@platform">@platform</option>
            }
        </select>

        <label for="title">Resolution</label>
        <input type="text" id="res" @bind="resolution" placeholder="Enter a resolution" required>

        <label for="file">Select an image</label>
        <InputFile OnChange="LoadFiles" accept="image/*" required/>

        <label for="title">Confirm that you are not a robot</label>
        <Captcha @bind-CaptchaWord="@Captcha" CharNumber="@CaptchaLetters" />
        <input type="text" id="cap" @bind="captchaInput" placeholder="Captcha" required>
        
        <button class="button primary" @onclick="SendWallpaper" type="button">Send for verification</button>
    </form>

    @if (!string.IsNullOrEmpty(_statusMessage)) {
        <div class="alert @(_isError ? "alert-danger" : "alert-success") mt-3">
            @_statusMessage
        </div>
    }
</section>

