@page "/admin"
@rendermode InteractiveServer

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

@if (!logined) {
    <AdminLogin OnLogin="HandleLogin"/>
}
else {
    <section class="admin">
        <h1>Admin Panel</h1>
        <p>Review and approve user-uploaded wallpapers.</p>
        <div class="requests">
            @if (wallpapers.Count > 0) {
                <p>Total requests: @wallpapers.Count</p>
                @foreach (var wallpaper in wallpapers) {
                    <div class="request">
                        @{
                            var folder = wallpaper.Name.ToLower().Replace(" ", "_");
                            var fileExtension = Path.GetExtension(wallpaper.Location);
                        }
                        <img src="@($"api/wallpapers/{wallpaper.Platform}/{folder}/prev_wall{fileExtension}")" alt="Wallpaper Preview">
                        <div class="info">
                            <h3>@wallpaper.Name</h3>
                            <p>Platform: @wallpaper.Platform</p>
                            <p>Resolution: @wallpaper.Resolution</p>
                            <p>Who uploaded: @wallpaper.Uploader</p>
                            <button class="button primary" @onclick="() => Approve(wallpaper.Id)">Approve</button>
                            <button class="button secondary" @onclick="() => Reject(wallpaper)">Reject</button>
                        </div>
                    </div>
                }   
            }
            else {
                <p>No requests at this time.</p>
            }
        </div>
    </section>   
}